.git
.gitignore
**/node_modules
**/dist
**/.DS_Store
.env
.env.*
!.env.example
!.env.production.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
secrets/
docs/
scripts/
*.md
.vscode
.idea
backend/storage
